@media (prefers-color-scheme: dark) {
  :where(.clr-scheme-dark) {
    background-color: #1a202c;
  }
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --hl-teal: #81e6d9;
  --hl-blue: #b9d0e5;
  --hl-pink: #fbb6ce;
  --hl-yellow: #faf089;
  --hl-green: #90edb3;
  --hl-gray: #e2e8f0;
  --border: rgba(120, 120, 120, 0.34);
  --bg-code: rgb(185, 185, 185, 0.15);
  --outline-clr: rgb(66, 153, 225, 0.6);
  --txt-clr-header: #1c5da2;
  --note-width: 20rem;
  --note-width-open: 75%;
  --note-title-width: 18rem;
  --note-title-width-open: 80ch;
  --note-section-column: 20.3rem;
}

.chakra-ui-dark {
  --hl-teal: #285e61;
  --hl-blue: #4a79a6;
  --hl-pink: #97266d;
  --hl-yellow: #975a16;
  --hl-green: #0c6c33;
  --hl-gray: #4a5568;
  --txt-clr-header: #b9d0e5;
  --bg-code: rgba(225, 225, 225, 0.271);
}

[contenteditable]:empty:before {
  content: "\feff";
}

@media (max-width: 55em) {
  :root {
    --note-section-column: 48vw;
    --note-width-open: 100%;
    --note-width: 47vw;
    --note-title-width: 43vw;
    --note-title-width-open: 75vw;
  }
}
